<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TextSize</key>
	<integer>27</integer>
	<key>LaunchAtLogin</key>
	<false/>
	<key>BackgroundArtwork</key>
	<true/>
</dict>
</plist>
